# Compiled Object files
*.slo
*.lo
*.o
*.h.gch
*.out
*.swp
# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

CMakeCache.txt
CMakeFiles/
workspace.xml
advanced/target
maze2
.idea
__pycache__
*.pyc*
autopilot
venv
venv/**
token.file
uid.file
**/static/css/**
**/static/js/**
**/static/fonts/**
